# VS Code / Workspace
*.code-workspace
.vscode/

# Data files
data/

# Output files
output/

# macOS system files
.DS_Store

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache files
cache/

# Publish folder
publish/